.projectGrid {
    height: 250px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 62.5px);
    text-align: center;
    visibility: hidden;
}

.categoryTab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}

#infoSection {
    grid-column: 2;
    grid-row: 1/5;
    background-color: var(--color1);
    color:white;
    max-width: 250px;
    padding: 10px;
    position: relative;
}

#projectAbout {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:rgb(4, 102, 81);
}

.tab {
    background-color: var(--color2);
    color: white;
    line-height: 50px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tab:hover {
    background-color: rgb(4, 102, 81);
}

.projectBackground {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity 1s ease;
    box-shadow: 15px 10px 10px #888888;
    font-size: 2em;
    color:white
}

.projectBackground h6 {
    background-color: black;
}

#infoSection:hover .projectBackground{
    opacity: 0;
}